html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.Page{
  height: 40px;
  width: 40px;
  position: fixed;
  right: 50px;
  bottom:  50px;
  text-align: center;
  background-color:rgb(0, 238, 255);
  font-size: 25px;
  
  border-radius: 10px;
}
.List{
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 600px;
  padding: 10px;
}

.Card{
  width: 210px;
  border-radius: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 2px rgb(155, 150, 150);
}
.Image{
  
  width: 100%;
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 
}
.Date{
  margin-bottom: 20px;
}
.Body{
  padding: 10px;
}
.Like{
  
  margin-left: 10px;
  margin-bottom: 10px;
}



.hiddenBox{
  position: absolute;
  transform: scale(2);
  margin-left: 10px;
  margin-bottom: 10px;
  opacity: 0;
}


.hiddenBox:hover{
  cursor: pointer;
  transform: scale(2);
  transition: 2s;
}
.hiddenBox:hover~svg{
  fill: rgb(105, 39, 39);
  transform: scale(2);
  transition: 1s;
}

.Like:hover{
  
  fill: rgb(105, 39, 39);
  transform: scale(2);
  transition: 1s;
  cursor: pointer;
}
.hiddenBox:checked~svg{
  fill:red;
}
.ButtonWrapper{ 
  display: flex;
  justify-content: center;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  align-items: center;
 
}
.Button{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FFFFFF;
  background: #1971c8;
  padding: 12px;
  border-radius: 10px;
}



.Button:hover{
  background: #124a83;
  cursor: pointer;
}

.Button:active {
  background: #0b2f52;
}
